# Repositories
.git
.hg
.svn
.hgsvn

# Eclipse
bin
.settings
.project
.classpath

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
.idea
.idea/*
.DS_Store

# Maven
target
overlays/*

# Java
classes
WEB-INF/classes
WEB-INF/lib

# Other
work.log
dependency-reduced-pom.xml
osa-master/rest-api/rest-api-web/overlays/*